/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f7f3;
  color:#16425b;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

.App {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li.active a {
  font-weight: bold;
  color: #007bff;
}

main {
  margin-top: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #343a40;
}
